@charset "utf-8";
/* App.css */

.App{
    width: 500px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
}
.App h1{
    margin-bottom: 20px;
    line-height: 1em;
}
.viewer{
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

.controller{
    display: flex;
    justify-content: space-between;
}
.controller button{
    width: 70px;
    height: 34px;
    border: 1px solid #ccc;
    border-radius: 6px;
}